/* .user-list {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */

.userList {
  padding: 20px;
  text-align: center;
}
.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 10px;
}
